# ============================================================================
#
#                    ███████╗███████╗██╗  ██╗██████╗  ██████╗
#                    ╚══███╔╝██╔════╝██║  ██║██╔══██╗██╔════╝
#                      ███╔╝ ███████╗███████║██████╔╝██║
#                     ███╔╝  ╚════██║██╔══██║██╔══██╗██║
#                 ██╗███████╗███████║██║  ██║██║  ██║╚██████╗
#                 ╚═╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝
#
# ============================================================================

[[ -f ~/.zplug/init.zsh ]] || return

# ============================================================================
#  zplug
# ============================================================================

source ~/.zplug/init.zsh

[ -f ~/.zplug.zsh ] && source ~/.zplug.zsh

if ! zplug check --verbose; then
    printf "Install? [y/N]: "
    if read -q; then
        echo; zplug install
    fi
fi

#zplug load --verbose
zplug load

#[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

setopt monitor
