#
# =================================================================================
#
#          ██████╗ ██╗████████╗ ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗
#         ██╔════╝ ██║╚══██╔══╝██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝
#         ██║  ███╗██║   ██║   ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#         ██║   ██║██║   ██║   ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
#      ██╗╚██████╔╝██║   ██║   ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
#      ╚═╝ ╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝
#
# =================================================================================
#

[core]
    excludesfile = ~/.gitignore_global

[alias]
    st  = status
    bra = branch
    co  = checkout
    up  = pull --rebase
    fe  = fetch --all --prune
    l   = log --graph --pretty=format:\"%C(yellow)%h%Creset [%Cgreen%cn%Creset] %s %Cgreen(%an)%Creset %Cred%d%Creset\"
    ll  = log --oneline --decorate --graph --all
    lll = log --decorate --graph --all
    ls  = log --graph --decorate --pretty=format:\"%ad [%Cgreen%cn%Creset] %h> %n %Cred%d%Creset %s %n\" --name-status
    ld  = log --graph --decorate --pretty=format:\"%ad [%Cgreen%cn%Creset] <c:%h t:%t p:%p> %n %Cred%d%Creset %s %n\" --stat -p
    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    fs = flow feature start

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[diff]
    compactionHeuristic = true

[user]
    name = Tsukasa Nishiyama
    email = tsukasa@birdcage.jp
