# show all windows in workspace
gesture swipe up 3 xdotool key alt+control+Down

# show Desktop
gesture swipe down 3 xdotool key super+d

# move current workspace for left
gesture swipe left 3 xdotool key alt+control+Right

# move current workspace for right
gesture swipe right 3 xdotool key alt+control+Left

# go to next page
gesture swipe left 4 xdotool key alt+Right

# go back page
gesture swipe right 4 xdotool key alt+Left
