apikey = "{{ mackerel_agent_apikey }}"

[host_status]
on_start = "working"
on_stop  = "poweroff"

{% if mackerel_plugins is defined %}
{% for key, command in mackerel_plugins.items() %}
[plugin.metrics.{{ key }}]
command = "{{ command }}"

{% endfor %}
{% endif %}

{% if mackerel_check_plugins is defined %}
{% for key, options in mackerel_check_plugins.items() %}
[plugin.checks.{{ key }}]
{% for optKey, value in options.items() %}
{{ optKey }} = "{{ value }}"
{% endfor %}

{% endfor %}
{% endif %}
